<div class="container-scroller">
    <div class="main-panel">
      <!-- partial:partials/_navbar.html -->
      <!-- partial:partials/_navbar.html -->
      <mat-toolbar color="primary" style="background-color:dodgerblue; padding-top: 0.2em;padding-bottom: 0.1em; padding-left: 2.5em;">

        <span (click)="gotohome()"  onmouseover="" style="cursor: pointer;" style="font-size: medium;">Bangladesh Navy roll of events</span>
        <span class="example-spacer"></span>
      
        <button mat-icon-button class="example-icon" (click)="gotohome()" aria-label="Example icon-button with share icon">
          <mat-icon style="font-size: medium;">home</mat-icon>
        </button>
      </mat-toolbar>

        <div style="padding:3em;">
            <div class="row" style="padding-top: 0.5em;">
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1973)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1973</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1974)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1974</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1975)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1975</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1976)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1976</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1977)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1977</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1978)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1978</button>
                </div>
            </div>

            <div class="row" style="padding-top: 2em;">
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1979)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1979</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1980)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1980</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1981)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1981</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1982)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1982</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1983)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1983</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1984)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1984</button>
                </div>
            </div>

            <div class="row" style="padding-top: 2em;">
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1985)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1985</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1986)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1986</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1987)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1987</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1988)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1988</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1989)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1989</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1990)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1990</button>
                </div>
            </div>
            <div class="row" style="padding-top: 2em;">
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1991)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1991</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1992)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1992</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1993)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1993</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1994)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1994</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1995)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1995</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1996)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1996</button>
                </div>
            </div>
            <div class="row" style="padding-top: 2em;">
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1997)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1997</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1998)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1998</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(1999)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">1999</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2000)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">200</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2001)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2001</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2002)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2002</button>
                </div>
            </div>
            <div class="row" style="padding-top: 2em;">
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2003)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2003</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2004)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2004</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2005)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2005</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2006)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2006</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2007)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2007</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2008)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2008</button>
                </div>
            </div>
            <div class="row" style="padding-top: 2em;">
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2009)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2009</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2010)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2010</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2011)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2011</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2012)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2012</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2013)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2013</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2014)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2014</button>
                </div>
            </div>
            <div class="row" style="padding-top: 2em;">
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2015)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2015</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2016)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2016</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2017)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2017</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2018)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2018</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2019)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2019</button>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-6">
                    <button (click)="_yearClick(2020)" type="button" class="btn btn-info" style="width: 100%;font-size: 4em;">2020</button>
                </div>
            </div>
        </div>


    </div>
</div>