.image {
    //background-image: url('../../../assets/bg1.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
}
.image:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.9);
}