<div class="image" style=" width: 100% !important;
height: 100% !important;"  >
    <div class="container" style="padding-top: 60px; padding-left: 100px;padding-right: 100px;">
        <div class="row" >
          <div class="col-sm-7" style="background-color: black;color:cornsilk;">
            One of three columns
          </div>
          <div class="col-sm-5" style="background-color: black;color:cornsilk;">
            One of three columns
          </div>
        </div>
        <div class="row" style="text-align: center; padding-top: 20px;">
            <div class="col-sm" style="color:whitesmoke;">
               <h4>grelerr dfdafd dddsfdsfd dsdd </h4> 
            </div>
        </div>
        <div class="row" style="padding-top: 60px;">
            <div class="col-sm-8" style="color:whitesmoke;">
                <img width="100%" height="220" src="https://placekitten.com/100/100/">
            </div>
            <div class="col-sm-4" style="color:whitesmoke;">
                <img width="100%" height="100" src="https://placekitten.com/100/100/">
                <br/><br/>
                <img width="100%" height="100" src="https://placekitten.com/100/100/">
            </div>
        </div>
        <div class="row" style="padding-top: 60px;">
            <div class="col-sm-12">
                <p style="color:whitesmoke;text-align: justify;">
                    jghjkhkgyjgykgyk khgkyigig igiygyikgiygyifiikyfyigygiygiygiy uy gkg giygigigu ugiugigiug
                    gfgjgjjghg gughuoghuoghuogolg olg uiguigiiugykiftykftufyguguh ugugiguiyugyigyig dfdsfdfdfdfdcxvczvc gvfs gs
                </p>
            </div>
        </div>
        <div class="row" style="padding-top: 60px;">
            <div class="col-sm-3" style="color:whitesmoke;">
                <div class="row">
                    <div class="col-sm-4" style="color:whitesmoke;">
                        <img width="100%" height="100" src="https://placekitten.com/100/100/">
                    </div>
                    <div class="col-sm-8" style="color:black;">
                        dfdfdfds df sd fsd fdsf sddf f ds sdf
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="color:whitesmoke;">
                <img width="100%" height="100" src="https://placekitten.com/100/100/">
                <br/>
            </div>
            <div class="col-sm-3" style="color:whitesmoke;">
                <img width="100%" height="100" src="https://placekitten.com/100/100/">
                <br/>
            </div>
            <div class="col-sm-3" style="color:whitesmoke;">
                <img width="100%" height="100" src="https://placekitten.com/100/100/">
                <br/>
            </div>
        </div>
      </div>
</div>