.mat-form-field{
  width:100%
}
.example-full-width {
  width: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: small;

    margin-bottom: -1.45em !important;

}